
<!-- FOOTER -->
<footer class="container">
        <p>&copy; For 2016 Winter INSE 6260 Project Only. All rights reserved.</p>
        <p><strong>Project Team:</strong></p>
        <ul>
        	<li>
        	<a href="/profile">Mengli Shu 27272715</a>
        	</li>
        	<li>
        	Chang Cao 27229704
        	</li>
        </ul>
</footer>