
<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@controllers.routes.Application.index">WorkerFinder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/8/2010/12/spongebob-squarepants2.jpg" class="img-responsive nav-pic" alt="Profile picture"></li>
            <li><a href="@controllers.routes.Application.profile">FirstName</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
</nav>