
<!-- Sidebar -->
@activeLink(currentPath: String) = @{
	if(request.path.equals(currentPath)) "active"
}

        <div class="profile-pic">
        	<img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/8/2010/12/spongebob-squarepants2.jpg" width="150" height="150" class="img-responsive" alt="Profile picture">
        	<h4 href="@controllers.routes.Application.profile">Name</h4>
        </div>
          <ul class="nav nav-sidebar">
            <li class="@activeLink("/profile")"><a href="@controllers.routes.Application.profile">Profile <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
          	<li class="@activeLink("/newrequest")"><a href="@controllers.routes.Application.newrequest">New Request</a></li>
            <li class="@activeLink("/taskhistory")"><a href="@controllers.routes.Application.taskhistory">My Task</a></li>
            <li class="@activeLink("/requesthistory")"><a href="@controllers.routes.Application.requesthistory">My Request</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="@activeLink("/deleteaccount")"><a href="@controllers.routes.Application.deleteaccount">Delete Account</a></li>
          </ul>
          

