/*
 * Customized style
 */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .form-group {
    margin-bottom: 20px;
}

.copyright{

	margin-left: auto;
	margin-right: auto;

}