/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
	padding: 0;
	margin-bottom: 20px;
	margin-top: 40px;
}

.nav-sidebar > li > a {
	top: 0px;
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
  font-weight: bold;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.main .page-header {
  margin-top: 40px;
}


/*
 * Profile picture
 */
.profile-pic h4 {
  margin-bottom: 0;
}
.profile-pic {
	margin-bottom: 60px;
	margin-top: 40px;
	text-align: center;
}
.profile-pic img {
  display: inline-block;
  border-radius: 50%;
}

.nav-pic {
	display: inline-block;
	border-radius: 50%;
	width: 35px;
	height:35px;
	margin-top: 8px;	
}
.copyright {
	position: absolute;
	bottom: 50px;
}
.back-to-top {
	margin-bottom: 60px;
}
.warning-message {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
.warning-message > p {
	font-size: 20px;
}
.profile-header {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	color: #337ab7;
	border-bottom: 1px solid #e2e2e2;
	
}
.profile-cate {
	font-weight: bold;
}
.info-block {
	margin-top: 20px;
}

.comment-block {
	padding-bottom: 60px;
}

.comment-content {
	padding-bottom: 10px;
}