
<div class="well comment-block">
	<h4 class="profile-header">Task Title</h4>
	<div class="info-block comment-content">
		<p>Comment content</p>
	</div>
	<div class="pull-right">
		<p>Client Name</p>
		<p>Date</p>
	</div>
</div>