<form id="edit-profile-form" style="display: none;">
				<h2 class="profile-header">Edit Profile
          			<small class="pull-right">
          					<input type="submit" class="btn btn-primary" value="Save">
          					<input type="button" class="btn btn-defaul" id="cancelProfile" value="Cancel">
          			</small>
          		</h2>
          		<div class="row">
          			<fieldset class="form-group col-md-6">
          				<h4 class='profile-cate'>Email:</h4>
          				<input type="text" class="form-control">
          				</fieldset>

          			<fieldset class="form-group col-md-6">
          				<h4 class='profile-cate'>Phone:</h4>
          				<input type="text" class="form-control">
          			</fieldset>
          		</div>
          		<div class="row">
          			<fieldset class="form-group col-md-6">
          				<h4 class='profile-cate'>Address:</h4>
          				<input type="text" class="form-control">
          			</fieldset>
          			<fieldset class="form-group col-md-6">
          				<h4 class='profile-cate'>City:</h4>
          				<input type="text" class="form-control">
          			</fieldset>
          		</div>
          		<div class="row">
          			<fieldset class="form-group col-md-6">
          				<h4 class='profile-cate'>Province:</h4>
          				<input type="text" class="form-control">
          			</fieldset>
          			<fieldset class="form-group col-md-6">
          				<h4 class='profile-cate'>Zip:</h4>
          				<input type="text" class="form-control">
          			</fieldset>
          		</div>
</form>