<div class="table-responsive info-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Skill</th>
                  <th>Level</th>
                  <th>Charge / Hr</th>
                  <th>Brief Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Web programming</td>
                  <td>Beginner</td>
                  <td>15</td>
                  <td>3 months experience</td>
                </tr>
                <tr>
                  <td>Moving</td>
                  <td>Beginner</td>
                  <td>50</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Translation</td>
                  <td>Advanced</td>
                  <td></td>
                  <td>French to English</td>
                </tr>               
              </tbody>
            </table>
</div>