<h2 class="profile-header">Worker List</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Number</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="@controllers.routes.Application.profileview">Marian</a></td>
				<td>marian&#64gmail.com</td>
				<td>5140000000</td>
			</tr>
		</tbody>
	</table>
</div>
