
@useraccount("Delete Account - WF"){
<div class="col-md-10 col-md-offset-1">
		<div  class="warning-message">
          <h2 class="page-header">Delete Account</h2>
          <p>Are you sure you want to delete your account?</p>
          <button class="btn btn-danger btn-block" onclick="location.href='@controllers.routes.Application.index'">Delete</button>
        </div>
</div>
}