@(userForm: Form[LoginForm])

@main("Home-WorkerFinder") {

    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">WorkerFinder</a>
            </div>
            
            <div id="navbar" class="navbar-collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="@controllers.routes.Application.signup"><b>Sign Up</b></a></li>
                
                <li class="dropdown">
                
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign in </b> <span class="caret"></span></a>
                  <ul class="dropdown-menu" id="login-dp">
                  @helper.form(action = routes.Application.authenticate()) {
                  <li>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<form class="form" role="form" method="post" action="login" id="login-nav">
								<div class="form-group">
									@helper.inputText(userForm("email"), '_label -> "Email address", 
									'class -> "form-control", 'placeholder -> "Email address", '_showConstraints -> false)
								</div>
								<div class="form-group">					

									@helper.inputPassword(userForm("password"), 'type -> "password", '_label -> "Password",
									'class -> "form-control", 'placeholder -> "Password", '_showConstraints -> false)
                                    <div class="help-block text-right"><a href="@controllers.routes.Application.forgetpwd">Forget your password ?</a></div>
								</div>
								
								<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox"> Keep me logged-in
									</label>
								</div>
						</form>
						</div>
					</div>
					</li>
					
                  </ul>
                  }<!-- Login authentication -->
                </li>
                
              </ul>
            </div><!-- navbar -->
            
          </div>
        </nav>

      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://infocouncil.com.au/content/slider/slider_04.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Looking for someone to help you out?</h1>
              <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://www.joinerni.com/sites/default/files/join_erni_insert_student_1600x500.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Want to perform some tasks and get paid?</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://infocouncil.com.au/content/slider/slider_03.jpg" alt="Third slide" class="img-responsive"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>You'v come to the right place!</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://static.tumblr.com/i3wvskx/PD9lsg5gg/profile-icon.png" width="140" height="140">
          <h2>Step 1</h2>
          <p>Fill the registration form.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://image.freepik.com/free-icon/menu-circle_318-26611.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Step 2</h2>
          <p>Activate your prefered roles.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://image.freepik.com/free-icon/add-document-circle_318-27912.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Step 3</h2>
          <p>Start to file your task request or waite for new task to come!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      
      @base.copyrightfooter()
      

    </div><!-- /.container -->
}
