
@useraccount("New Request - WF"){
<div class="col-md-10 col-md-offset-1">
          <div class="well info-block">
          	<h2 class="profile-header">Open a new request</h2>
          	<form id="request-form"> <!-- request form -->
          	<div class="row">
          		<fieldset class="form-group col-md-12">
          			<label for="title">Title</label>
          			<input type="text" class="form-control" id="title">
          		</fieldset>
          	</div>
          	<div class="row">
          		<fieldset class="form-group col-md-12">
          			<label for="description">Task Description:</label>
          			<textarea class="form-control" id="description" rows="15"></textarea>
          		</fieldset>
          	</div>
          	<div class="row">
          		<fieldset class="form-group col-md-3">
          			<label for="skills-required">Skills Required:</label>
          			<select class="form-control" id="skills-required"></select>
          		</fieldset>
          		<fieldset class="form-group col-md-3">
          			<label for="num-worker">Number of workers:</label>
          			<input type="text" class="form-control" id="num-worker">
          		</fieldset>
          		
          		<button class="btn btn-primary" id="add-required-skill">
          			<span class="glyphicon glyphicon-plus"></span>
          		</button>
          		<button class="btn btn-default" id="delete-required-skill">
          			<span class="glyphicon glyphicon-minus"></span>
          		</button>
          	</div>
          	<div id="required-skill-entry">
          		
          	</div>
          	<div class="row">
          		<fieldset class="form-group col-md-3">
          			<label>Start Date:</label>
          			<div class='input-group date' id='start-date-picker'>
                		<input type='text' class="form-control" />
                		<span class="input-group-addon">
                    		<span class="glyphicon glyphicon-calendar"></span>
                		</span>
            		</div>
          		</fieldset>
          		<fieldset class="form-group col-md-3">
          			<label>End Date:</label>
          			<div class='input-group date' id='end-date-picker'>
                		<input type='text' class="form-control" />
                		<span class="input-group-addon">
                    		<span class="glyphicon glyphicon-calendar"></span>
                		</span>
            		</div>
          		</fieldset>
          		<fieldset class="form-group col-md-3">
          			<label for="hperweek">Hour/Week</label>
          			<input type="text" class="form-control">
          		</fieldset>
          		<fieldset class="form-group col-md-3">
          			<label for="payment">Payment (CAD) :</label>
          			<input type="text" class="form-control" id="payment">
          		</fieldset>
          	</div>
          	
          	<div class="text-center" id="selcan-btn">
          		<input type="submit" class="btn btn-md btn-primary" value="Submit">
				<input type="button" class="btn btn-md" id="reset-request" value="Reset">
			</div>
          	</form>
          	
        </div>
</div>
}