
@useraccount("Profile - WF"){
<div class="col-md-10 col-md-offset-1">
   
          <div class="well info-block">
          	<h2 class="profile-header">Name
          		<small class="pull-right">
          				<input type="button" class="btn btn-primary" id="editProfile" value="Edit">
          				<input type="button" class="btn btn-primary" id="changePWD" value="Change password">
          		</small>
          	</h2>
          	<div>
          		<div class="row">
          			<div class="col-md-6">
          				<h4 class='profile-cate'>Email:</h4>
          				<p>haha&#64gmail.com</p>
          			</div>
          			<div class="col-md-6">
          				<h4 class='profile-cate'>Phone:</h4>
          				<p>5140000000</p>
          			</div>
          		</div>
          		<div class="row">
          			<div class="col-md-6">
          				<h4 class='profile-cate'>Address:</h4>
          				<p>1455 De Maisonneuve Blvd. W.</p>
          			</div>
          			<div class="col-md-6">
          				<h4 class='profile-cate'>City:</h4>
          				<p>Montreal</p>
          			</div>
          		</div>
          		<div class="row">
          			<div class="col-md-6">
          				<h4 class='profile-cate'>Province:</h4>
          				<p>Quebec</p>
          			</div>
          			<div class="col-md-6">
          				<h4 class='profile-cate'>Zip:</h4>
          				<p>H3G 1M8</p>
          			</div>
          		</div>
          	</div>
          	@dynamic.editprofile()
          </div>
          <div class="well" id="change-pwd-div" style="display: none;">
          	<h2 class="profile-header">Change Password</h2>
          	<form>
          		<div class="row col-md-offset-3">
          			<fieldset class="form-group col-md-4">
          				<label>New Password</label>
          				<input type="text" class="form-control">
          			</fieldset>
          			<fieldset class="form-group col-md-4">
          				<label>Confirm Password</label>
          				<input type="text" class="form-control">
          			</fieldset>
          		</div>
          		<div class="text-center">
          			<input type="submit" class="btn btn-primary" value="Submit">
          			<input type="button" class="btn btn-defaul" id="cancelpwd" value="Cancel">
          		</div>
          	</form>
          </div>
          <div class="well">
          	<h2 class="profile-header">Roles</h2>
          	<div class="row">
          		<div class="col-md-6">
          			<h4 class="profile-cate">Client
          			<input type="button" class="btn btn-sm btn-success pull-right disabled" value="Enabled"></h4>
          			<small class="text-muted">Enabled automatically once account is created.</small>
          		</div>
          		
          		<div class="col-md-6">
          			<h4 class="profile-cate">Worker
          				<small class="btn-group pull-right">
          					<input onclick="switchState(this)" type="button" name="buttonE" class="btn btn-sm btn-success" value="Enable" id="enableW">
          					<input onclick="switchState(this)" type="button" name="buttonD" class="btn btn-sm btn-danger disabled" value="Disabled" id="disableW">
          				</small>
          			</h4>
          			<small class="text-muted">Enable/Disable manually by users.</small>
          		</div>
          	</div>
          	
          	<div id="worker-field" style="display: none;">
          		<h2 class="profile-header" style="margin-top: 30px;">Skills
          			<small class="pull-right">
          				<input type="button" class="btn btn-primary" value="Edit" id="editSkill">
          				<input type="button" class="btn btn-primary" value="New Skill" id="newSkill">
          			</small>
          		</h2>
          		<div class="row">
          			<div class="col-md-4">
          				<label>Availability (hrs/week): 20</label>
          			</div>
          			<div class="col-md-4">
          				<label>Credibility: 0.5</label>
          			</div>
          		</div>
          		<div id="stored-skills">
          			@dynamic.workerskill()
          		</div>
          		<form id="skillForm" style="display: none;"> <!-- skills form -->
          		<div>
          			<h2 class="profile-header" style="margin-top: 30px;">New Skills
          				<small class="pull-right">
          					<button class="btn btn-primary" id="addSkill">
          						<span class="glyphicon glyphicon-plus"></span>
          					</button>
          					<button class="btn btn-default" id="deleteSkill">
          						<span class="glyphicon glyphicon-minus"></span>
          					</button>
          				</small>
          			</h2>
          			<div class="row" id="skillEntry">
          				
          			</div>
          			<div class="text-center" id="selcan-btn">
          				<input type="submit" class="btn btn-md btn-primary" value="Submit">
						<input type="button" class="btn btn-md" id="cancel-new-skill" value="Cancel">
					</div>	
          		</div>
          		</form>
          	</div>
          </div>
          
          <div class="well">
          	<h2 class="profile-header">Paypal
          		<small class="pull-right">
          			<input type="button" class="btn btn-primary" value="Edit">
          			<input type="button" class="btn btn-primary" value="Add">
          		</small>
          	</h2>
          	<div class="row">
          		
          	</div>
          </div>
</div>   
          

}