
@useraccount("My Request - WF"){
<div class="col-md-10 col-md-offset-1">
          <h2 class="page-header">My Requests</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Request</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Payment (CAD)</th>
                  <th>Workers</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">Web programming</a></td>
                  <td>Opened</td>
                  <td>5000</td>
                  <td>2 / 3</td>
                  <td>2016-02-03</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Moving</a></td>
                  <td>In Progress</td>
                  <td>80</td>
                  <td>1 / 1</td>
                  <td>2016-01-04</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">Translation</a></td>
                  <td>Completed</td>
                  <td>80</td>
                  <td>1 /1</td>
                  <td>2015-09-29</td>
                </tr>               
              </tbody>
            </table>
          </div>
        @base.footer()
</div>
}