
@useraccount("My Task - WF"){
<div class="col-md-10 col-md-offset-1">
          <h2 class="page-header">New Tasks</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Task</th>
                  <th>Title</th>
                  <th>Payment (CAD)</th>
                  <th>Client</th>
                  <th>Decision</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="@controllers.routes.Application.taskpage">Web programming</a></td>
                  <td>5000</td>
                  <td>Joseph</td>
                  <td>Accepted</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Moving</a></td>
                  <td>80</td>
                  <td>Lily</td>
                  <td>Denied</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="#">Web programming</a></td>
                  <td>5000</td>
                  <td>Joseph</td>
                  <td>N/A</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="page-header">My Tasks</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Task</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Payment (CAD)</th>
                  <th>Client</th>
                  <th>Credibility</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">Web programming</a></td>
                  <td>In Progress</td>
                  <td>5000</td>
                  <td>Joseph</td>
                  <td>N/A</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Moving</a></td>
                  <td>Completed</td>
                  <td>80</td>
                  <td>Lily</td>
                  <td>0.9</td>
                </tr>
              </tbody>
            </table>
          </div>
       @base.footer()
</div>  
}